* {
  margin: 0;
  padding: 0;
}

body {
  font-family: lato;
}
h1 {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 150%);
}
.container {
  width: 40%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border: 1px solid rgb(190, 190, 190);
  padding: 25px 25px;
  border-radius: 25px;
}
.img img {
  border-radius: 15%;
  margin-bottom: 10px;
  width: 150px;
  height: auto;
}
.name {
  font-size: 1.5em;
  font-weight: bolder;
}
.jobtitle {
  font-size: 1.1em;
  font-weight: 550;
}
.para {
  width: 80%;
  margin: 10% 10% 0 10%;
}
.swipe {
  display: flex;
  justify-content: space-between;
  margin: 5% -10px 0 -10px;
}
button {
  border: none;
}
#leftChevron,
#rightChevron {
  padding: 10px 10px;
  border-radius: 25%;
}
#leftChevron:hover,
#rightChevron:hover {
  transition: 100ms ease-in-out;
  background-color: rgb(216, 213, 213);
}

.report {
  position: absolute;
  bottom: 2%;
  left: 45%;
  width: 60%;
  transform: translateX(-41%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
#report {
  margin: 0 20% 10px 20% !important;
  width: 25%;
  text-decoration: none;
  color: red;
  font-size: 1.2em;
  padding: 5px 10px;
  border-radius: 4px;
  border: 1px solid red;
}
#report:hover {
  background-color: transparent;
  color: white;
  border: none;
  background-color: red;
  transition: 100ms ease-in-out;
}
